.Intro {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Intro__heading {
  color: var(--dark-blue);
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Karla", "Inter", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.7rem;
  margin-bottom: 1.5rem;
}
.Intro__info {
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding-bottom: 2rem;
  color: var(--dark-blue);
}
