.Questions {
  height: inherit;
  width: inherit;
  padding: 4rem 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Questions__container {
  margin-bottom: 3rem;
}
.Questions__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Questions__controls__result {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--dark-blue);
}
